
{{ define "main" }}
{{ partial "components/listen.html" . }}

<input type="search" id="search-input" placeholder="Cerca un episodio...">

<ul id="episode-list" class="marked-list">
    {{ $currentSeason := "" }} <!-- Initialize a variable to track the current season -->
    {{ $type := .Page.Type }}
    {{ range where .Pages "Type" "eq" $type }}
    {{ if ne .Params.url "/feed.rss" }} <!-- Check if the season has changed -->
    {{ $season := .Params.season }} <!-- Get the season from the current post's front matter -->

    {{ if ne $season $currentSeason }} <!-- Check if the season has changed -->
    {{ $currentSeason = $season }} <!-- Update the current season -->
    <h2 class="season">Stagione {{ $season }}</h2> <!-- Output the season title -->
    {{ end }}
    <li class="episode-item"><a href="{{ .RelPermalink }}">{{with .Params.number }}{{.}}.{{end}} {{ .Title }}</a></li>
    {{ end }}
    {{ end }}
</ul>



{{ end }}
