{{ define "main" }}
<ul>
    {{ $currentSeason := "" }} <!-- Initialize a variable to track the current season -->
    {{ $type := .Page.Type }}
    {{ range where .Pages "Type" "eq" $type }}
    {{ if ne .Params.url "/feed.rss" }} <!-- Check if the season has changed -->
    {{.Params.url}}
    {{ $season := .Params.season }} <!-- Get the season from the current post's front matter -->

    {{ if ne $season $currentSeason }} <!-- Check if the season has changed -->
    {{ $currentSeason = $season }} <!-- Update the current season -->
    <h2>Stagione {{ $season }}</h2> <!-- Output the season title -->
    {{ end }}
    <li>{{.Params.url}}<a href="{{ .RelPermalink }}">{{with .Params.number }}{{.}}.{{end}} {{.Type }} {{ .Title }}</a></li>
    {{ end }}
    {{ end }}
</ul>
{{ end }}
