{{ define "main" }}
<article>
    <h1>{{ .Title }}</h1>
    {{ if .Params.audio }}
    {{ $audio := urls.JoinPath .Site.Data.podcast.audio .Params.audio }}
    <center>
        {{ $cover := urls.JoinPath "/" .Site.Data.podcast.cover }}
        <img src="{{ $cover  }}" alt="{{ .Site.Data.podcast.title }} cover" style="width: 100%; height: auto;">
        <audio class="maxwidth" controls>
            <source src="{{ $audio }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </center>
    <p><a href="{{ $audio }}">Scarica il file audio</a></p>
    {{ end }}

    <div class="content">
        {{ .Content }}
    </div>

</article>
{{ end }}
