{{ define "main" }}
<article>
    <h1>{{ .Title }}</h1>
    <div>
        {{ $day := .Date.Format "02" }}
        {{ $month := .Date.Format "January" | i18n }}
        {{ $year := .Date.Format "2006" }}
        {{ printf "%s %s %s" $day $month $year }} | Stagione: {{.Params.season}} | Episodio:  {{.Params.number}} 
    </div>
    {{ if .Params.audio }}
    {{ $audio := urls.JoinPath .Site.Data.podcast.audio .Params.audio }}
    <center>
        {{ $cover := urls.JoinPath "/" .Site.Data.podcast.cover }}
        <img class="cover" src="{{ $cover  }}" alt="{{ .Site.Data.podcast.title }} cover">
        <audio class="maxwidth" controls>
            <source src="{{ $audio }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </center>
    <p><a href="{{ $audio }}">Scarica il file audio</a></p>
    {{ end }}

    <div class="content">
    {{ with .Content }}
        {{ . }}
    {{ else }}
        {{ .Site.Data.podcast.description.episode | markdownify | safeHTML }}
    {{ end }}
    </div>

</article>
{{ end }}
