<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css">
    {{ partial "components/favicon.html" . }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{.Site.Data.podcast.cover}}">

    {{$defaultTitle := print site.Data.podcast.title.hero " "  site.Data.podcast.title.subhero}}
    <title>{{ .Title | default $defaultTitle}}</title>

    <style>
{{ partial "css/reset.css"      .  | print | safeCSS }}
{{ partial "css/fonts.css"      .  | print | safeCSS }}
{{ partial "css/basic.css"      .  | print | safeCSS }}
{{ partial "css/extra.css"      .  | print | safeCSS }}
{{ partial "css/media.css"      .  | print | safeCSS }}
    </style>


</head>

<body>
    <div class="page">
        {{ if eq .RelPermalink "/" }}
            {{ partial "header.html" . }}
        {{ else }}
            {{ partial "header.html" . }}
        {{ end }}
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        {{ partial "footer.html" . }}
        {{/*<button onclick="toggleDarkMode()">tema</button>*/}}
        <script src="{{ .Site.BaseURL }}js/scripts.js"></script>
    </div>
</body>
</html>


