html {
}
.page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make the container take at least the full height of the viewport */
    padding: 20px 20px; /* Add padding around the entire page */
    box-sizing: border-box; /* Ensure padding is included in the total width/height */
}
header {
    margin: 20px 0;
}
main {
    flex: 1;
}
.content {
    margin: 20px 0;
}
.cover {
    margin: 6px 0;
    max-width: 400px;
    width: 100%;
}
article h1{font-size:34px;
/*font-style: oblique;*/
line-height:1.0; 
word-spacing: -4px; 
letter-spacing: -1px;}
h2 {
    padding-top:20px;
    padding-bottom:10px;
}
footer{
    margin-top: 20px;
}

li {
  list-style-type: none;
}
li::marker {
  content: "▶ ";
}
