.maxwidth {
    width: 100%;
    max-width: 100%;
}
.fullwidth {
    margin-left: calc(-20px); /* Negative margin equal to the padding */
    margin-right: calc(-20px); /* Negative margin equal to the padding */
    width: calc(100% + 40px); /* Full width accounting for the negative margins */
    /*padding: 20px; /* Optional: Add padding inside the full-width element */*/
    /*background: #f0f0f0; /* Optional: Background color for visibility */*/
}

.icon-bar img{
	max-width: var(--double-padding);
}
.align-middle {
    display: flex; align-items: center;
}

.dark-mode {
  background-color: black;
  color: white;
}
.hero{font-size: 38px;line-height:1;font-style: oblique;}
.listen-text-long {display:none;}

.manifesto {
    font-size: 20px;
}
.manifesto h1 {
    font-size: 64px;
}
.manifesto h2 {
    font-size: 26px;
    font-style: italic;
    padding-top: 10px;
}
.manifesto ol {
}
.manifesto * li {
    margin: 0;
    padding-bottom: 20px;
}
.tags {
    font-size: 16px;
}
.details {
    margin: 20px 0;
}
.smalltext {
    font-size: var(--small-font-size);
}
