.maxwidth {
    width: 100%;
    max-width: 100%;
}
.fullwidth {
    margin-left: calc(-20px); /* Negative margin equal to the padding */
    margin-right: calc(-20px); /* Negative margin equal to the padding */
    width: calc(100% + 40px); /* Full width accounting for the negative margins */
    /*padding: 20px; /* Optional: Add padding inside the full-width element */*/
    /*background: #f0f0f0; /* Optional: Background color for visibility */*/
}

.icon-bar img{
	max-width: var(--double-padding);
}
.align-middle {
    display: flex; align-items: center;
}

.dark-mode {
  background-color: black;
  color: white;
}
.hero{font-size: 38px;line-height:1;font-style: oblique;}
.listen-text-long {display:none;}
