.registration {
    font-family: var(--font-family);
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    margin-bottom: var(--double-font-size);
}

.input-container {
    border-bottom: 1px solid var(--highlight-color);
    display: flex; /* Use flexbox for input and arrow */
    align-items: center; /* Center align items vertically */
}
.registration input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
.registration input[type="search"]:focus {
    outline: none;
}
.registration input[type="search"] {
    width: 100%;
    font-weight: 900;
    font-size: 100%;
    border: none;
    padding-left: var(--half-font-size);
    padding-right: var(--quarter-font-size);
}
.registration input[type="search"]::placeholder {
  color: var(--inverse-very-light);
}
.submit {
    background: var(--highlight-color);
    padding: 2px;
}
.message {
    margin: var(--base-padding) auto;
    text-align:center;
	display: block;
	line-height: 1.3;
}
.error {
	background: var(--alert-color);
	color:  var(--alert-color-text);
}
.success {
    display: none;
	background: var(--success-color);
	color:  var(--success-color-text);
}
.arrow {
  border: solid;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
