/*=====================================================*/
/*=====================================================*/
/* BREAKPOINTS 
iphone-7:  375px;
iphone-12: 390px;
tablet:    768px;
laptop:   1366px;
desktop:  1680px;
*/
/*------------------------ IPHONE-7 breakpoint */
/*smaller than average size*/
@media (max-width: 375px) { 
    .hero{font-size: 32px;}
}
/*------------------------ TABLET breakpoint */
@media (min-width: 768px) { 
    .page{max-width: 768px;}
    .hero{font-size: 72px;}
    .listen-text{display:none;}
    .listen-text-long{display:inline-block;}
}
/*------------------------ LAPTOP breakpoint */
@media (min-width:1366px) { 
    article {margin-top:40px;}
    .hero {font-size:88px;}
    h1 {font-size:32px;}
    article h1 {font-size:48px;}
    .content p {font-size: 20px;}
    .cover {margin: 10px auto;}
}
/*=====================================================*/
/*=====================================================*/
/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    html {
        background-color: #242933;
        color: white;
    }
}
