:root{
    /*--font-family: "Fira Code";*/
    /*--font-family: "JetBrains Mono";*/
    --font-family: "Iosevka Term";
    --hero-font-family: "Iosevka Term Slab";
    /*--font-family: "Iosevka Term Slab";*/
	--quarter-font-size: 4px;
	--half-font-size:    8px;
	--base-font-size:    16px;
	--double-font-size:  32px;
	--fourtimes-font-size:  64px;

	--half-padding:  var(--half-font-size);
	--base-padding: var(--base-font-size);
	--double-padding: var(--double-font-size);

	--line-height: 1.4;

}
html,body {margin: 0; height: 100%;}
h1,h2,h3,h4,h5,h6{margin:0;font-family: var(--hero-font-family);}
main,article,p,ul{margin:0; padding:0;}
/*.page{margin: var(--base-padding);}*/
h1{font-size: 22px;}

menu,nav{margin: var(--half-padding) 0; padding:0; list-style: none}
a {text-decoration: none; color: inherit; font-weight: bold;}
body{font-size: var(--base-font-size);font-family: var(--font-family);}
h1{font-family: var(--hero-font-family);}

/* stop iOS styling inputs */
input.text,
input,
input[type="mobile"],
input[type="email"],
input[type="search"],
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
background: inherit;
}

li{margin:2px var(--base-padding);}
