<form class="registration" id="registrationForm">                             
    <div class="input-container" id="inputForm">
        <input type="search" id="emailInput" name="email" placeholder="{{ .Get 0 }}">         
        <div class="submit">
            <i id="submitButton" class="arrow right"></i>
            <i id="loader" class="loading">invio...</i>
        </div>
    </div>
    <div class="message">
        <div class="error"   id="errorMessage"></div>
        <div class="success" id="successMessage">📥 <strong>Ci sei quasi!</strong> Ti abbiamo mandato una email per <strong>verificare</strong> il tuo indirizzo</div>
    </div>
</form>




<script src="/js/pocketbase.umd.js"></script>
<script>
    const pb = new PocketBase({{ .Site.Params.pocketbase.server }});
    const pbListName = 'emails';

    document.getElementById('registrationForm').addEventListener('submit', function(event) {
        event.preventDefault();
        registerEmail();
    });

    document.getElementById('submitButton').addEventListener('click', registerEmail);
    async function registerEmail() {
        const emailInput = document.getElementById('emailInput');
        const email = emailInput.value.trim();
        const errorMessage = document.getElementById('errorMessage');
        const successMessage = document.getElementById('successMessage');
        const inputForm = document.getElementById('inputForm');
        const loader = document.getElementById('loader');
        const submitButton = document.getElementById('submitButton');

        loader.style.display = 'inline';
        submitButton.style.display = 'none';

        //errorMessage.style.display = 'none';
        //successMessage.style.display = 'none';
        //loader.style.display = 'none';
        //submitButton.style.display = 'inline';

        if (email === '') {
            errorMessage.textContent = "⚠️  Campo email vuoto?";
            errorMessage.style.display = 'block';
            return;
        }


        const pbData = {
            "email": email,
            "verified": false,
            "newsletter": true,
            "password": "123456789",
            "passwordConfirm": "123456789"
        };

        try {
            await pb.collection(pbListName).create(pbData);
        } catch (err) {
            console.log('Email is already in db?');
        }

        try {
            errorMessage.style.display = 'none';
            console.log('Send confirmation email');
            await pb.collection(pbListName).requestVerification(email);
            successMessage.style.display = 'block';
            inputForm.style.display = 'none';

            emailInput.value = "";
        } catch (err) {
            errorMessage.textContent = "💀 Ehi! non sembra una email corretta... controlla.";
            errorMessage.style.display = 'block';
            console.log('Unable to send confirmation email: bad email format?');
        } finally {
            loader.style.display = 'none';
            submitButton.style.display = 'inline-block';
        }
    }
</script>
